<div class="container">
<div class="input-container">
  <form>
    <div class="field-container">
      <div class="pdf-field" ng-repeat="field in main.fields">
        <label for="field">{{field.title}}</label>
        <input name="field"></input>
      </div>
    </div>
    <button type="submit" class="button-primary">Submit</button>
  </form>
</div>

  <div class="forms-container">
    <div class="pdf-container three columns" ng-repeat="form in main.forms">
      <i class="fa fa-file-text-o fa-lg fa-block"></i>
      <!--thumbnails for docs go here-->
      <!--<img id={{form.id}} src={{form.previewLocation}} class="img-thumbnail" height="120" width="80">-->
      <div class="pdf-label" for={{form.id}}>{{form.title}}</div>
    </div>
  </div>
</div>
