.input-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.field-container {
 position: relative;
}
.pdf-field {
  //need to center all fields
  display: inline-block;
  padding-right: 25px;
}

.pdf-container {
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
}
.pdf-label {
  font-weight: bold;
}
